* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightskyblue;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 100px auto;
    display: flex;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 10px;
    border: 5px solid black;
    border-radius: 50px;
    padding: 50px 0;
    background-color: lightgreen;
}

.box:last-child {
    background-color: lightsalmon;
}

h1 {
    margin-bottom: 50px;
}

ol li {
    font-size: 20px;
    margin-bottom: 10px;
}

.container-position {
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border: 5px solid black;
    border-radius: 50px;
}

.container-position p {
    font-size: 100px;
    color: gold;
}